.button {
  font-weight: 700;
  text-transform: uppercase;

  color: #ffffff;
  background-color: $button-bg;
  border: none;
  transition: all 0.3s linear;

  &:hover {
    background-color: $hover-color;
  }
}

.button--callback {
  padding: 0 26px;
  font-size: 11px;
  line-height: 4.09;
  border-radius: 23px;
}