.section {
  padding: 100px 0;
}

.section__header {
  text-align: center;
}

.section__title {
  font-family: $title-font;
  font-size: 30px;
  font-weight: 700
}

.section__subtitle {
  padding: 20px 0 65px;

  font-size: 22px;
  font-weight: 700;
  line-height: 1.23;
}

.section__subtitle--price {
  color: #ffffff;
  background-color: $theme-color;
}

