.about__item {
  max-width: 542px;
  margin-bottom: 30px;
}

.about__img {
  min-width: 50px;
  margin-right: 30px;
}

.about__item:last-child {
  max-width: 410px;
}

.about__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.22;
}

.about__subtitle {
  padding-top: 5px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
}

@media (max-width: 1230px) {

  .about__item,
  .about__item:last-child {
    max-width: 460px;
    margin-bottom: 25px;
  }

  .about__img {
    min-width: 45px;
    margin-right: 20px;
  }

  .about__title {
    font-size: 17px;
    //font-weight: 700;
    line-height: 1.2;
  }






}