.consultation {
  background-image: url("../img/consultation/consultation-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.consultation__border {
  text-align: center;
}

.consultation__form {
  padding-top: 28px;
}