.employee-info__list {
  margin-top: 50px;
}

.employee-info__item {
  padding: 5px 0 5px 55px;

  font-size: 17px;
  font-weight: 300;
  line-height: 1.6;

  background-image: url("../img/team/tick.png");
  background-position: left center;
  background-repeat: no-repeat;
}