.intro {
  padding: 100px 0 58px;
  background-color: #d8f0f0;
  background-image: url("../img/intro/intro-bg.jpg"),
  linear-gradient(-211deg, #d8f0f0 0%, #fdfde0 100%);
  background-size: cover;
  background-position: center center;
}

.intro__title {
  font-family: $title-font;
  font-size: 57px;
  font-weight: 700;
  line-height: 1;
}

.intro__subtitle {
  max-width: 450px;
  padding: 36px 0 80px;
  font-family: $title-font;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.36;
  color: #00222d;
}

.intro__list {
  margin: 0;
  padding: 0;
}

@media (max-width: 1230px) {
  .intro {
    padding: 90px 0 50px;
    //background-color: #d8f0f0;
    //background-image: url("../img/intro/intro-bg.jpg"),
    //linear-gradient(-211deg, #d8f0f0 0%, #fdfde0 100%);
    //background-size: cover;
    //background-position: center center;
  }

  .intro__title {
    //font-family: $title-font;
    font-size: 50px;
    //font-weight: 700;
    //line-height: 1;
  }

  .intro__subtitle {
    //max-width: 450px;
    padding: 30px 0 60px;
    //font-family: $title-font;
    font-size: 28px;
    //font-weight: 700;
    line-height: 1.2;
    //color: #00222d;
  }
}

@media (max-width: 990px) {
  .intro {
    padding: 70px 0 40px;
    //background-color: #d8f0f0;
    //background-image: url("../img/intro/intro-bg.jpg"),
    //linear-gradient(-211deg, #d8f0f0 0%, #fdfde0 100%);
    //background-size: cover;
    background-position: 35% center;
  }

  .intro__title {
    //font-family: $title-font;
    font-size: 42px;
    //font-weight: 700;
    //line-height: 1;
  }

  .intro__subtitle {
    //max-width: 450px;
    padding: 25px 0 45px;
    //font-family: $title-font;
    font-size: 24px;
    //font-weight: 700;
    //line-height: 1.2;
    //color: #00222d;
  }
}




@media (max-width: 768px) {
  .intro {
    padding: 60px 0 35px;
    //background-color: #d8f0f0;
    //background-image: url("../img/intro/intro-bg.jpg"),
    //linear-gradient(-211deg, #d8f0f0 0%, #fdfde0 100%);
    //background-size: cover;
    //background-position: 35% center;
  }

  .intro__title {
    //font-family: $title-font;
    font-size: 34px;
    //font-weight: 700;
    //line-height: 1;
  }

  .intro__subtitle {
    //max-width: 450px;
    padding: 20px 0 40px;
    //font-family: $title-font;
    font-size: 20px;
    //font-weight: 700;
    //line-height: 1.2;
    //color: #00222d;
  }
}