.rights__inner {
  padding-bottom: 68px;
}

.rights__img-wrapper {
  text-align: center;
  background-image: url("../img/rights/rights-bg.jpg");
  background-position: center center;
  font-size: 0;

}

.rights__content {
  padding-right: 80px;
}

.rights__title {
  padding-bottom: 65px;
  font-family: $title-font;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
}

.rights__text {
  max-width: 400px;
  font-size: 20px;
  font-weight: 400;

  b {
    display: inline-block;
    max-width: 300px;
    padding: 65px 0 22px;
    font-size: 22px;
    font-weight: 700;
  }
}

.rights__form {
  padding-bottom: 8px;
}