.team-item__img-wrapper {
  min-width: 70px;
  margin-right: 30px;
}

.team-item__name {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.69;
}

.team-item__position {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
}