.thanks {
  background-image: url("../img/thanks/thanks-bg.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.thanks__title {
  padding-top: 52px;
  padding-bottom: 40px;
  font-size: 22px;
  font-weight: 700;

  text-align: center;
}

.thanks__list {
  padding-top: 17px;
  padding-bottom: 8px;
}